@charset "utf-8";

/**全体**/
body {
  text-align: center;
  line-height: 2;
}

パスワード
#password-form {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    position: fixed;
  }

  .pf_cntr {
    background: #fff;
    padding: 10px;
    max-width: 500px;
    width: 100%;
  }

  label {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    display: block;
  }

  input[type=password],
  input[type=submit] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  #submit-password {
    width: 200px;
    background: #ccc;
    display: block;
    margin: auto;
    font-size: 14px;
  }

  #submit-password {
    width: 200px;
    background: #ccc;
    display: block;
    margin: auto;
    font-size: 14px;
  }

  #password-message {
    color: red;
    display: none;
    text-align: center;
  }

  .bodyshow {
    display: none;
  }

  .bodyshow.show {
    display: block;
  }


/**header**/
header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-weight: 900;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  border: 3px solid #f36c6c;
  background: url(../image/ocean.png) no-repeat center top/cover;
}

.header_open {
  margin-top: 3px;
}

.drawer-icon {
  width: 36px;
  height: 21px;
  position: relative;
  z-index: 51;
  margin-top: 15px;
}

.drawer-icon.is-checked .drawer-icon_bar:nth-of-type(1) {
  top: 10px;
  transform: rotate(30deg);
}

.drawer-icon.is-checked .drawer-icon_bar:nth-of-type(2) {
  display: none;
}

.drawer-icon.is-checked .drawer-icon_bar:nth-of-type(3) {
  top: 10px;
  transform: rotate(-30deg);
}

.drawer-icon_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 4px;
  border-radius: 6px;
  background: #fff;
  transition: transform 0.3s linear, top 0.3s linear;
}

.drawer-icon_bar:nth-of-type(2) {
  top: 9px;
}

.drawer-icon_bar:nth-of-type(3) {
  top: 18px;
}

.drawer-content {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: hwb(43 31% 0%);
  z-index: 50;
  padding: 86px 40px 40px;
  transform: translateX(100%);
  transition: transform 0.3s linear;
}

.drawer-content.is-checked {
  transform: translateX(0);
}

.drawer-content_link {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.48px;
  display: block;
  text-align: right;
  padding-top: 14px;
  padding-right: 15px;
  padding-bottom: 14px;
  text-align-last: right;
}

.header-down {
margin-right: 60px;
}

.header-stretch {
    margin-right: 15px;
}

h1 {
  font-size: 30px;
}

a {
  font-weight: 700;
}

/*section*/
section {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 5px solid #606060;
  border-right: 5px solid #606060;
  border-left: 5px solid #606060;
}

#stand-first {
  background: #a1d6e2;
  border-top:none ;
}

#stand-second {
  background: #cdcdc0;
}

#rest {
  background: #7caa2d;
}

#down {
  background: #a1d6e2;
}

#stretch {
  background: #cdcdc0;
  border-bottom: 5px solid #606060;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}

li {
  margin: 20px;
  font-weight: 500;
  counter-increment: list;
}

ol li::before {
  content: counter(list);
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-top: 4px;
  margin-right: 7px;
  background: #606060;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  line-height: 1.75;
  text-align: center;
  vertical-align: top;
  font-size: 14px;
}
